# MICS Data Preprocessing

In [20]:
import pandas as pd
import numpy as np
import warnings
warnings.filterwarnings("ignore")

In [21]:
# Load raw data
mics = pd.read_csv("mics.csv", low_memory=False)
print(mics.shape)
mics.head()

(56721, 785)

,HH1,HH2,HINT,HH3,HH4,HH5D,HH5M,HH5Y,HH6,HH7,...,RiskHome_0_12,RiskSource_0_12,water_treatment3,Any_U5,Region,windex_ur,windex5_categ,helevel_temp,wq27_decile,SomeRiskHome
0,1,5,12.0,12,11,2,6. JUNE,2017,2. Rural,1. EAST,...,1,1,0,1,1,2,Poor,NaN,7,1
1,1,14,15.0,15,11,3,6. JUNE,2017,2. Rural,1. EAST,...,1,0,0,1,1,2,Poor,NaN,1,1
2,1,22,15.0,15,11,4,6. JUNE,2017,2. Rural,1. EAST,...,1,1,0,1,1,2,Middle,NaN,8,1
3,2,3,12.0,12,11,5,6. JUNE,2017,2. Rural,1. EAST,...,1,1,0,1,1,2,Middle,NaN,8,1
4,2,11,12.0,12,11,5,6. JUNE,2017,2. Rural,1. EAST,...,1,1,0,0,1,1,Poor,NaN,8,1

## Define Outcome, Treatment, and Covariate Groups

In [22]:
# Define outcomes (Y), treatment (T), and covariates (X)
# 'VeryHighRiskHome' is included as an outcome based on notebook names.
Y_cols = ["SomeRiskHome", "VeryHighRiskHome"]

# 'water_treatment3' is used as the treatment variable based on the dataset.
T_cols = ["water_treatment3"]

# Covariates are grouped by type for preprocessing
X_binary_cols = [
    "Any_U5", "Girls_less_than15", "Boys_15or_less",
    "ImprovedWaterSource", "PipedWater", "WellandSpringWater",
    "RainandSurfaceWater", "PurchasedWater",
    "Basic_water_service", "Limited_water_service", "Unimproved_water_service",
    "improved_latrine", "Flush", "Pit_latrine", "Open_defecation",
    "Basic_sanitation_service", "Limited_sanitation_service",
    "Unimproved_sani_service",
    "SoapandWater", "Basic_hygiene_facility",
    "Limited_hygiene_facility", "No_hygeine_service_facility",
    "rainy_season"
]

X_ordinal_cols_pre_encoding = {
    "helevel": "helevel_ord",
    "windex5_categ": "windex5_ord",
    "RiskSource": "RiskSource_ord",
    "water_carrier_edu": "water_carrier_edu_ord"
}